 @font-face {
     font-family: 'IBMPlexSans-Regular';
     src: url('../font/IBM-Plex-Sans/IBMPlexSans-Regular.otf');
}
 @font-face {
     font-family: 'IBMPlexSans-ExtraLight';
     src: url('../font/IBM-Plex-Sans/IBMPlexSans-ExtraLight.otf');
}
 @font-face {
     font-family: 'IBMPlexSans-BoldItalic';
     src: url('../font/IBM-Plex-Sans/IBMPlexSans-BoldItalic.otf');
}
 @font-face {
     font-family: 'Neue-Plak-Extended-Regular';
     src: url('../font/Neue-Plak-Extended-Regular.ttf');
}
 @font-face {
     font-family: 'Neue-Plak-Wide-Regular';
     src: url('../font/Neue-Plak-Wide-Regular.ttf');
}
 @font-face {
     font-family: 'Neue-Plak-Wide-SemiBold';
     src: url('../font/Neue-Plak-Wide-SemiBold.otf');
}
 body,html,div{
     border: 0;
     margin:0;
     padding: 0;
     font-family: "PingFang SC","Helvetica Neue","Arial";
}
 body,html{
     width: 100% !important;
     height: 100%;
}
 html::-webkit-scrollbar{
     width: 0rem;
}
 html::-webkit-scrollbar-thumb{
     border-radius: 0.625rem;
     background: #aaa;
}

/*-------------------------------------------loadding-----------------------------------------*/
 #loadding{
     width: 100%;
     height: 100%;
     background: #fff;
     position: fixed;
     top: 0;
     z-index: 99999;
     text-align: center;
     opacity: 1;
     transition:opacity .2s ease;
}
 #loadding img{
     width: 8.75rem;
     margin: auto;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
}
/*--------------------------------------------NAV-MOBILE-----------------------------------------*/
 #wrapMobile{
     width: calc(100% - 1.875rem);
     font-size:1.125rem;
     margin:0 auto;
     display: none;
     transition: margin-top .4s ease;
}
 #wrapMobile img{
     width: 6.875rem;
     filter: invert(100%);
}
 #wrapMobile .menuType{
     display: inline-block;
     font-weight: 320;
     margin-left: calc(100% - 15rem);
     margin-right: 0.125rem;
     color: #ccc;
     font-family: 'IBMPlexSans-ExtraLight';
}
 #wrapMobile .menu{
     display: inline-block;
     font-weight: 700;
     margin-right: 0.25rem;
     color: #ccc;
     font-family: 'IBMPlexSans-Regular';
}
 #wrapMobile div{
     display: inline-block;
}
 #wrapMobilebg{
     background-color: #000;
     opacity: .8;
     width: 100vw;
     height: 100vh;
     z-index: 999;
     position: fixed;
     top: 0;
     overflow: hidden;
     text-align: right;
     display: none;
}
 #wrapMobilebg a{
     font-family: 'IBMPlexSans-ExtraLight';
     text-decoration: none;
     display: block;
     margin-top: 1.5rem;
     margin-right:1.25rem;
     opacity: 1;
     font-size:1.625rem;
     color: #eee;
     line-height: 0.875rem;
     font-weight: 300;
}
/*-----------------------------------------------Nav------------------------------------------*/
 
 #wrapUp{
     width: 25rem;
     position: fixed;
     left: 2rem;
     right: 0;
     top: 0.5rem;
     z-index: 1001;
     filter: invert(100%);

 }

 #wrapUp .label{
     display: inline-block;
     margin:0;
     position: absolute;
     left: 42%;
     font-family: 'Neue-Plak-Wide-SemiBold', "PingFang SC","Helvetica Neue","Arial";
     font-weight: 600;
     color: #888;
}
 #wrapUp ul{
     font-family: 'Neue-Plak-Wide-SemiBold', "PingFang SC","Helvetica Neue","Arial";
     list-style: none;
     display: inline-block;
     margin: 0rem;
     padding: 0rem;
     padding-top:0rem;
     white-space: nowrap;
     float: left;
}
 #wrapUp ul li a{
     list-style: none;
     text-decoration:none;
}
 #wrapUp li{
     display: block;
     font-size: 4.2rem;
     padding: 0rem 0rem 0rem 0.1rem;
     line-height: 5.2rem;

}
 #wrapUp li a{
     opacity: 1;
     transition: color .2s ease;
     cursor: pointer;
     color: rgba(0,0,0,0);
     -webkit-text-stroke:0.07rem #000;
}
 #wrapUp p{
     font-size: 0.7rem;
     font-family: 'Neue-Plak-Extended-Regular';
     transition: color .5s ease;
     line-height: 1.2rem;
     padding-top: 1rem;
     padding-left: 0.1rem;
     color: #555;
}
 #wrapUp ul li .dot{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    margin: 0;
    position: relative;
    padding-left: 1.1rem;
    padding-top: 0.2rem;
 }
 #wrapUp p:hover{
    color: #000;
 }
 #wrapUp li a:hover{
     opacity: 1 !important;
     color:#00aeff;
     -webkit-text-stroke:0.07rem #00aeff;
}
 #wrapUp .active a{
     color: black;
     font-family: 'Neue-Plak-Wide-SemiBold';
     opacity: 1;
     transition:color .2s ease;
}

 

/*-----------------------------------------------share------------------------------------------*/
#share{
    font-family: 'Neue-Plak-Extended-Regular';
     position: fixed;
     left: 1.8rem;
     bottom: 1rem;
     z-index: 10;
     width: 1.4rem;
}
#share .crossbar{
    position: fixed;
    width: 0.3rem;
    height: 1.1rem;
    background-color: #ccc;
    margin: auto 0;
    left: 2.4rem;
    top: 0;
    bottom:0;
}
#share img{
    display: inline-block;
    width: 1.3rem;
    filter: invert(100%);
}
#share ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#share ul li{
    -webkit-writing-mode: vertical-rl;  
    margin: 1rem 0;
}
#share ul li a{
    text-decoration: none;
    color: #ccc;
    font-size: 1.1rem;
}
/*---------------------------------------------wrapTitle------------------------------------------*/
 #wrapTitle{
     display: inline-block;
     position: fixed;
     padding-top: 2.25rem;
     top: 0;
     right: 0rem;
     padding-right: 8rem;
     background-color: #111;
     height: 4.2rem;
     opacity: 1;
     z-index: 9;
}
 #wrapTitle p{
     display: inline-block;
     font-family: 'AvenirNextLTPro-Demi', "PingFang SC","Helvetica Neue","Arial";
     font-size: 1rem;
     color: #ddd;
}
 #wrapTitle img{
     height: 2.25rem;
     padding-right: 3.8rem;
     filter: invert(90%);
}
 #wrapTitle .wrapP1{
     padding-right:37.01rem;
     padding-left: 1.125rem;
}
 #wrapTitle .wrapP2{
     text-align: right;
}
/*-----------------------------------------------index------------------------------------------*/
 body,html{
     background-color: #111;
}
 .title{
     width: 56.8rem;
     height: 22rem;
     text-align: left;
     margin-top: 0rem;
     right: 25.3rem;
     position: absolute;
     overflow:hidden;
     color: #eee;
     z-index: 99;
     pointer-events:none;
}
 .title span{
     color: #b87e32;
}
 .title .brief{
     margin-left: 0.625rem;
     margin-top: 2rem;
     font-size: 1.8rem;
     text-transform:uppercase;
     line-height: 2.3rem;
     font-family: 'Neue-Plak-Wide-Regular', "PingFang SC","Helvetica Neue","Arial";
     pointer-events:none;
}
 .title .downtext{
     width: 40rem;
     color: #ccc;
     margin-left: 0.75rem;
     padding-top: 0.7rem;
     line-height: 1.6rem;
     font-size: 0.86rem;
     pointer-events:none;
}
 .title img{
     height: 12.0625rem;
     padding-top: 1rem;
     padding-left:0.625rem;
     display: none;
}
 #spline{
    position: absolute;
    top: 0rem;
    right: 1rem;
    z-index: 0;
    outline:none;
}
 #spline #splineIndex{
    position: relative;
    z-index: 0;
    outline:none;
 }
 #spline #splineIndex canvas{
    z-index: 0;
    border: none;
    outline:none;
 }
 .part2{
     width: 75.75rem;
     padding-top: 38rem;
     float: right;
     border-radius: 5rem 0rem 0 0;
     padding-right: 7rem;
}

 .part2inside{
     width: 75rem;
     margin: 0 auto;
     padding:8.125rem 0 0rem 0;
     text-align: center;
}
 .part2inside .break{
     font-size: 0.75rem;
     transform: scale(0.9);
     color: #777;
     float: left;
     font-family: 'IBMPlexSans-ExtraLight';
     background-color: #111;
     border-radius: 0.3125rem;
     padding:0.25rem 0.5rem;
}
 .part2inside ul{
     list-style: none;
     margin: 0;
     padding: 0;
     margin-top: 3.75rem;
     font-family: 'Neue-Plak-Wide-Regular', "PingFang SC",pingfang,"Helvetica Neue","Arial";
     font-size: 1.1rem;
     text-align: left;
}
 .part2inside ul li{
     background-color: #202020;
     display: inline-block;
     height: 9rem;
     width: 28rem;
     margin:3.4rem 1.8rem 3.4rem 0rem;
     position: relative;
     z-index: 1;
     transition: box-shadow .2s ease,border .2s ease,opacity .2s ease;
    /*box-shadow: 0rem 0.5rem 1.875rem #ededed;
     */
     border:1px solid #202020;
     border-radius: 1rem;
     opacity: .8;
}
 .part2inside ul li:hover{
     box-shadow:0rem 1.25rem 1.75rem #111;
     z-index: 2;
     border:1px solid #6c8192;
     opacity: 1;
}
 .part2inside ul li .techTitle{
     position: relative;
     display: inline-block;
     top: -5rem;
     left: 0.4rem;
     text-align: left;
     transition:color .4s ease;
     color: white;
     border: 0.14rem solid #fff;
     border-radius: 1.6rem;
     padding:0.1rem 1rem 0.3rem 1rem;
}
  .part2inside ul li .techTitleMini{
        display: none;
    }
 .part2inside ul li:hover .techTitle{
     /*color: #0066ff !important;*/
}
 .part2inside ul li .techDetail{
     display: inline-block;
     position: absolute;
     font-size: 0.8125rem;
     font-family: 'Neue-Plak-Wide-Regular',"PingFang SC","Helvetica Neue","Arial";
     text-align: left;
     width: 24.5rem;
     right: 2.1rem;
     top:1.3rem;
     line-height: 1.5rem;
     color: #7c7c7c;
}
 .part2inside ul li .blockline{
     display: inline-block;
     height:0.3125rem;
     width: 1.375rem;
     background-color: #0060ff;
     position: absolute;
     bottom: 0;
     right: 1.4375rem;
     display: none;
}
 .part3{
     float: right;
     width: 75.75rem;
     height: 25rem;
     margin-top: 4rem;
     margin-bottom:0;
     padding-bottom:0;
     padding-right: 7rem;
}
 .part3 .part3inside{
     width: 75rem;
     text-align:left;
     margin:0 auto;
     padding: 5.625rem 0;
}
 .part3 .part3inside .break{
     font-size: 0.75rem;
     float: left;
     transform: scale(0.9);
     color: #777;
     font-family: 'IBMPlexSans-ExtraLight';
     background-color: #111;
     border-radius: 0.3125rem;
     padding:0.25rem 0.5rem;
     margin:0.0625rem 0;
}
 .part3 .part3inside ul{
     text-align:left;
     list-style: none;
     margin: 0;
     padding: 0;
     margin-top: 3.125rem;
     margin-bottom: 5rem;
     font-family: "Neue-Plak-Extended-Regular","PingFang SC","Helvetica Neue","Arial";
     font-size: 1.75rem;
     text-align: left;
}
 .part3 .part3inside ul li{
     display:inline-block;
     border-radius: 2.5rem;
     color: #777;
     font-size: 0.8125rem;
     height: 2.25rem;
     line-height:2.25rem;
     padding: 0 1.125rem 0 0.75rem;
     margin: 0.5rem 0.25rem;
     transition: box-shadow .2s;
     transition: background-color .2s ease,color .1s ease,border .2s ease;
     box-shadow: 0rem 0rem 0rem #fafafa;
     background-color: #202020;
}
 .part3 .part3inside ul li:hover{
     display:inline-block;
     color:#fff;
     border-radius: 2.5rem;
     background-color: #0b3fff;
     box-shadow: 0rem 0.625rem 0.625rem #111;
}
 .part3 .part3inside ul li img{
     vertical-align: middle;
     padding-right: 0.25rem;
     transform: scale(0.55);
     margin-top: -0.0625rem;
}
 .part4{
     float: right;
     width: 75.75rem;
     height: 40.625rem;
     margin-top: 4rem;
     margin-bottom:0;
     padding-bottom:0;
     padding-right: 7rem;
}
 .part4 .part4inside{
     width: 75rem;
     text-align:left;
     margin:0 auto;
     padding: 3.125rem 0;
}
 .part4 .break{
     font-size: 0.75rem;
     float: left;
     transform: scale(0.9);
     color: #777;
     font-family: 'IBMPlexSans-ExtraLight';
     background-color: #111;
     border-radius: 0.3125rem;
     padding:0.25rem 0.5rem;
     margin:0.0625rem 0;
}
 .part4 ul{
     list-style: none;
     margin: 0;
     padding: 0;
     margin-top: 3.75rem;
     font-family: 'IBMPlexSans-BoldItalic', "PingFang SC",pingfang,"Helvetica Neue","Arial";
     font-size: 1.375rem;
     text-align: left;
}
/* 横排版本 .part4 ul a{
     cursor: pointer;
     background-color: #242424;
     display: inline-block;
     height: 10rem;
     width: 40.625rem;
     margin:0.625rem 1.25rem 0.625rem 0rem;
     position: relative;
     z-index: 1;
     transition: box-shadow .2s ease,border .2s ease,color .2s ease;
     border:1px solid #242424;
     border-radius: 0.9375rem;
     position: relative;
}
 .part4 ul a:hover{
     box-shadow:0rem 1.25rem 1.75rem #111;
     z-index: 2;
     border:1px solid #6c8192;
     color: #282828;
     opacity: 1;
}
 .part4 ul a p{
     font-size: 0.875rem;
     color: #6c6c6c;
     font-family: 'IBMPlexSans-Regular', "PingFang SC",pingfang,"Helvetica Neue","Arial";
     margin:0.625rem 0;
     margin-left: 2.875rem;
}
 .part4 ul a .part4title{
     color: white;
     font-size: 2.375rem;
     font-family: 'IBMPlexSans-BoldItalic';
     margin:0.5rem 0;
     margin-top: 2.25rem;
     margin-left: 2.8125rem;
}
 .part4 ul a img{
     height: 9.125rem;
     position: absolute;
     top: 0.875rem;
     right: 2.5rem;
     opacity: 1;
}
 .part4 ul a .resumeImg{
     height: 9.6875rem;
     right: 2.25rem;
     opacity: 1;
     top: 0.3125rem;
}
 */
 .part4 ul a{
     cursor: pointer;
     text-decoration: none;
     background-color: #202020;
     display: inline-block;
     height: 20rem;
     width: 16.25rem;
     margin:0.625rem 0.75rem 0.625rem 0rem;
     position: relative;
     z-index: 1;
     transition: box-shadow .2s ease,border .2s ease,color .2s ease;
     border:1px solid #202020;
     border-radius: 0.9375rem;
     position: relative;
}
 .part4 ul a:hover{
     box-shadow:0rem 1.25rem 1.75rem #111;
     z-index: 2;
     border:1px solid #6c8192;
     color: #282828;
     opacity: 1;
}
 .part4 ul a p{
     font-size: 0.875rem;
     color: #6c6c6c;
     font-family: 'IBMPlexSans-Regular', "PingFang SC",pingfang,"Helvetica Neue","Arial";
     margin:0.3125rem 0;
     width: 100%;
     text-align: center;
}
 .part4 ul a .part4title{
     color: white;
     font-size: 2.2rem;
     font-family: 'Neue-Plak-Wide-SemiBold';
     margin:0.5rem 0;
     margin-top: 2.25rem;
}
 .part4 ul a img{
     height: 9.6875rem;
     position: absolute;
     top: 10.3125rem;
     right: 1.5625rem;
     opacity: 1;
}
 .part4 ul a .resumeImg{
     height: 10.25rem;
     right: 1.5625rem;
     opacity: 1;
     top: 9.75rem;
}
 @media screen and (max-width: 98rem){
    #wrapTitle{
        padding-right: 5.1rem;
    }
    #wrapTitle .wrapP1 {
        padding-right: 25.6rem;
    }
    .title .brief{
        font-size: 1.8rem;
        line-height:2.3rem;
        margin-left: 15.25rem;
    }
    #wrapUp li{
        font-size: 3.0rem;
        line-height: 3.5rem;
    }
    #wrap li{
        font-size: 3.0rem;
        line-height: 3.5rem;
    }
    .title .downtext{
        margin-left: 15.25rem;
    }
    .title img{
        margin-left: 14.55rem;
    }
    .part2,.part3,.part4{
        padding-right: 0;
        width: 66.5rem;
    }
}
 /*进入手机模式*/

 @media screen and (max-width: 58rem){
    #wrapTitle{
         display: none;
    }
    #wrapUp{
        display: none !important;
    }
    #shareUpBg{
        display: none;
    }
    #share{
        display: none;
    }
    .arrowDown{
        display: none;
    }
    #wrap{
        display: none;
    }
    #wrapMobile{
         display: block;
    }
    .title{
        width: 100%;
        right: unset;
    }
    .title .brief{
        margin-top: 10rem;
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .title .downtext{
        font-size: 0.4rem;
        width: 20rem;
        line-height: 1.2rem;
    }
    .title .brief,.title .downtext,.title .selfimg{
        margin-left: 0.7rem;
    }
    .title .selfimg{
        height:6rem;
        padding-left: 0;
        margin-left: 0;
        position: absolute;
        top: 0rem;
    }
    .part2{
        padding-top: 20rem;
        float: initial;
    }
    .part2inside{
        width: 30rem;
        margin: 0;
    }
    .part2inside ul li{
        width: 22.6rem;
        margin:0.38rem 0.75rem 0.38rem 0rem;
    }
    .part2inside ul li .techDetail{
        width: 19.25rem;
        right: 1.25rem;
        top: 3.4rem;
        text-align: center;
    }
    .part2inside ul li .techTitle{
        display: none;
    }
    .part2inside ul li .techTitleMini{
        display: inline-block;
        color: white;
        width: 12rem;
        top: 0.5rem;
        left: 5.2rem;
        position: relative;
        text-align: center;
    }
    .part3{
        float: initial;
    }
    .part3 .part3inside{
        width: 23.8rem;
        margin-left: 0;
    }
    .part3 .part3inside ul{
        text-align: center;
    }
    .part4{
        float: initial;
    }
    .part4 .part4inside{
        padding-top: 8.125rem;
    }
    .part4 .part4inside ul{
        width: 22rem;
        text-align: center;
    }
    .part4 .part4inside ul a{
        width: 20rem;
    }
    .part4 ul a img {
        right: 3.5rem;
    }
    .part4 ul a .resumeImg {
        right: 3.5rem;
    }


 }
 