
@font-face {  
  font-family: 'IBMPlexSans-Regular';  
  src: url('../font/IBM-Plex-Sans/IBMPlexSans-Regular.otf'); 
}
@font-face {  
  font-family: 'IBMPlexSans-ExtraLight';  
  src: url('../font/IBM-Plex-Sans/IBMPlexSans-ExtraLight.otf'); 
}
@font-face {
  font-family: 'IBMPlexSans-BoldItalic';  
  src: url('../font/IBM-Plex-Sans/IBMPlexSans-BoldItalic.otf'); 
  }
@font-face {  
  font-family: 'AvenirNextLTPro-Demi';  
  src: url('../font/AvenirNextLTPro-Demi.otf'); 
}
@font-face {  
  font-family: 'AvenirNextLTPro-Regular';  
  src: url('../font/AvenirNextLTPro-Regular.otf'); 
}

body,html,div{
	border: 0;
	margin:0;
	padding: 0;
  font-family: "PingFang SC","Helvetica Neue","Arial";
}
body,html{
	width: 100% !important;
	height: 100%;
}
html::-webkit-scrollbar{
	width: 0px;
}
html::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #aaa;
}

/*-------------------------------------------loadding-----------------------------------------*/

#loadding{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 99999;
	text-align: center;
	opacity: 1;
	transition:opacity .2s ease;
}
#loadding img{
	width: 140px;
	margin: auto; 
    position: absolute; 
    top: 0; left: 0; bottom: 0; right: 0; 
}


/*--------------------------------------------NAV-MOBILE-----------------------------------------*/

#wrapMobile{
	width: calc(100% - 30px);
	font-size:18px;
	margin:0 auto;
	display: none;
	transition: margin-top .4s ease;
}
#wrapMobile img{
	width: 110px;
	filter: invert(100%);
}
#wrapMobile .menuType{
	display: inline-block;
	font-weight: 320;
	margin-left: calc(100% - 240px);
	margin-right: 2px;
	color: #ccc;
	font-family: 'IBMPlexSans-ExtraLight';
}
#wrapMobile .menu{
	display: inline-block;
	font-weight: 700;
	margin-right: 4px;
	color: #ccc;
	font-family: 'IBMPlexSans-Regular';
}
#wrapMobile div{
	display: inline-block;
}

#wrapMobilebg{
	background-color: #000;
	opacity: .8;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	position: fixed;
	top: 0;
	overflow: hidden;
	text-align: right;
	display: none;

}
#wrapMobilebg a{
	font-family: 'IBMPlexSans-ExtraLight';
	text-decoration: none;
	display: block;
	margin-top: 24px;
	margin-right:20px;
	opacity: 1;
	font-size:26px;
	color: #eee;
	line-height: 14px;
	font-weight: 300;
}


/*-----------------------------------------------Nav------------------------------------------*/

#wrap{
  width: 400px;
  position: fixed;
  left: 55px;
  right: 0;
  top: 60px;
  z-index: 1000;

}

#wrap img {
  width: 90px;
  filter: invert(100%);
  transition: filter .2s ease;
  display: block;
}
#wrap .label{
  display: inline-block;
  margin:0;
  position: absolute;
  left: 42%;
  font-family: 'AvenirNextLTPro-Demi', "PingFang SC","Helvetica Neue","Arial";
  font-weight: 600;
}

#wrap ul{
  font-family: 'AvenirNextLTPro-Demi', "PingFang SC","Helvetica Neue","Arial";
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top:120px; 
  white-space: nowrap;
  float: left;
}
#wrap ul li a{
  list-style: none;
  text-decoration:none;
  color: #DDD;
}
#wrap li{
  display: block;
  padding: 5px 0px 6px 2px;
  font-size: 26px;
}
#wrap li a{
  opacity: .25;
  transition: opacity .2s ease;
  cursor: pointer;
  color: #DDD;
}
#wrap li a:hover{
  opacity: 1 !important;
}
#wrap .active a{
  font-family: 'AvenirNextLTPro-Demi';
  opacity: 1;
  transition:color .2s ease;
}







/*-----------------------------------------------share------------------------------------------*/

.share{
	position: fixed;
	left: 50px;
	bottom: 65px;
	z-index: 1999;
	filter: invert(100%);
}
.share img{
	padding: 0 8px;
	transform: scale(0.7);
	opacity: .4;
	transition: opacity .2s;
	cursor: pointer;

}
.share img:hover{
	opacity: 1;
}
.share .wechatImg{
	width: 160px;
	position: absolute;
	top: -160px;
	right:-25px;
	transition:opacity .4s ease;
	display: none;
	opacity: 1;
}


/*---------------------------------------------wrapTitle------------------------------------------*/
#wrapTitle{
	display: inline-block;
	position: fixed;
	padding-top: 36px;
	top: 0;
	right: 0px;
	padding-right: 120px;
	background-color: #111;
	height: 80px;
	opacity: 1;
	z-index: 9;
}
#wrapTitle p{
	display: inline-block;
	font-family: 'AvenirNextLTPro-Demi', "PingFang SC","Helvetica Neue","Arial";
	font-size: 18px;
	color: #ddd;
}
#wrapTitle img{
	height: 36px;
	padding-right: 20px;
	filter: invert(90%);
}
#wrapTitle .wrapP1{
	padding-right:545px; 
	padding-left: 20px;
}
#wrapTitle .wrapP2{
	text-align: right;
}

/*-----------------------------------------------index------------------------------------------*/

body,html{
	background-color: #111;
}
.title{
	width: 1232px;
	height: 710px;
	text-align: left;
	margin-top: 0px;
	right: 0px;
	position: absolute;
	overflow:hidden;
	color: #eee;
}
.title span{
	color: #b87e32;
}

.title .brief{
	margin-left: 10px;
	margin-top: 250px;
	font-size: 34px;
	text-transform:uppercase;
	font-family: 'AvenirNextLTPro-Demi', "PingFang SC","Helvetica Neue","Arial";
}
.title .downtext{
	color: #ccc;
	margin-left: 12px;
	line-height: 22px;
}
.title img{
	height: 193px;
	padding-top: 10px;
	padding-left:10px;
}

.part2{
	width: 1212px;
	padding-top: 726px;
	float: right;
	border-radius: 80px 0px 0 0;
	padding-right: 25px;
}
.part2inside{
	width: 1200px;
	margin: 0 auto;
	padding:130px 0 0px 0;
	text-align: center;
}
.part2inside .break{
	font-size: 12px;
	transform: scale(0.9);
	color: #777;
	float: left;
	font-family: 'IBMPlexSans-ExtraLight';
	background-color: #121212;
	border-radius: 5px;
	padding:4px 8px;
}
.part2inside ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  font-family: 'IBMPlexSans-BoldItalic', "PingFang SC",pingfang,"Helvetica Neue","Arial";
  font-size: 22px;
  text-align: left;
}
.part2inside ul li{
	background-color: #202020;
	display: inline-block;
	height: 170px;
	width: 555px;
	margin:10px 12px 10px 0px;
	position: relative;
	z-index: 1;
	transition: box-shadow .2s ease,border .2s ease,opacity .2s ease; 
	/*box-shadow: 0px 8px 30px #ededed;*/
	border:1px solid #202020;
	border-radius: 15px;
	opacity: .8;
}
.part2inside ul li:hover{
	box-shadow:0px 20px 28px #111;
	z-index: 2;
	border:1px solid #6c8192;
	opacity: 1;
}
.part2inside ul li .techTitle{
	position: relative;
	display: inline-block;
	right: -40px;
	top: 35px;
	text-align: right;
	transition:color .4s ease;
	color: white;
}
.part2inside ul li:hover .techTitle{
	color: #0066ff !important;
}
.part2inside ul li .techDetail{
	display: inline-block;
	position: absolute;
	font-size: 13px;
	font-family: 'IBMPlexSans-Regular',"PingFang SC","Helvetica Neue","Arial";
	text-align: left;
	width: 340px;
	right: 36px;
	top:37px;
	line-height: 24px;
	color: #7c7c7c;
}
.part2inside ul li .blockline{
	display: inline-block;
	height:5px;
	width: 22px;
	background-color: #0060ff;
	position: absolute;
	bottom: 0;
	right: 23px;
	display: none;

}
.part3{
	float: right;
	width: 1212px;
	height: 400px;
	margin: 0px 0 120px 0;
  margin-bottom:0;
	padding-bottom:0;
	padding-right: 25px;
}
.part3 .part3inside{
	width: 1200px;
	text-align:left;
	margin:0 auto;
	padding: 90px 0;
}
.part3 .part3inside .break{
	font-size: 12px;
	float: left;
	transform: scale(0.9);
	color: #777;
	font-family: 'IBMPlexSans-ExtraLight';
	background-color: #121212;
	border-radius: 5px;
	padding:4px 8px;
	margin:1px 0;
}

.part3 .part3inside ul{
	text-align:left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 80px;
  font-family: "IBMPlexSans-Regular","PingFang SC","Helvetica Neue","Arial";
  font-size: 28px;
  text-align: left;
}
.part3 .part3inside ul li{
  display:inline-block;
  border-radius: 40px;
  color: #777;
  font-size: 13px;
  height: 36px;
  line-height:36px;
  padding: 0 18px 0 12px;
  margin: 8px 4px;
  transition: box-shadow .2s; 
  transition: background-color .2s ease,color .1s ease,border .2s ease; 
  box-shadow: 0px 0px 0px #fafafa;
  background-color: #202020;
}
.part3 .part3inside ul li:hover{
  display:inline-block;
  color:#fff;
  border-radius: 40px;
  background-color: #0b3fff;
  box-shadow: 0px 10px 10px #111;
}
.part3 .part3inside ul li img{
  vertical-align: middle;
  padding-right: 4px;
  transform: scale(0.55);
  margin-top: -1px;
}
.part4{
	float: right;
	width: 1212px;
	height: 650px;
	margin: 0px 0 120px 0;
    margin-bottom:0;
	padding-bottom:0;
	padding-right: 25px;
}
.part4 .part4inside{
	width: 1200px;
	text-align:left;
	margin:0 auto;
	padding: 50px 0;
}
.part4 .break{
	font-size: 12px;
	float: left;
	transform: scale(0.9);
	color: #777;
	font-family: 'IBMPlexSans-ExtraLight';
	background-color: #121212;
	border-radius: 5px;
	padding:4px 8px;
	margin:1px 0;
}
.part4 ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  font-family: 'IBMPlexSans-BoldItalic', "PingFang SC",pingfang,"Helvetica Neue","Arial";
  font-size: 22px;
  text-align: left;
}
/*
横排版本
.part4 ul a{
	cursor: pointer;
	background-color: #242424;
	display: inline-block;
	height: 160px;
	width: 650px;
	margin:10px 20px 10px 0px;
	position: relative;
	z-index: 1;
	transition: box-shadow .2s ease,border .2s ease,color .2s ease; 
	border:1px solid #242424;
	border-radius: 15px;
	position: relative;
}
.part4 ul a:hover{
	box-shadow:0px 20px 28px #111;
	z-index: 2;
	border:1px solid #6c8192;
	color: #282828;
	opacity: 1;
}
.part4 ul a p{
	font-size: 14px;
	color: #6c6c6c;
	font-family: 'IBMPlexSans-Regular', "PingFang SC",pingfang,"Helvetica Neue","Arial";
	margin:10px 0;
	margin-left: 46px;
}
.part4 ul a .part4title{
	color: white;
	font-size: 38px;
	font-family: 'IBMPlexSans-BoldItalic';
	margin:8px 0;
	margin-top: 36px;
	margin-left: 45px;
}
.part4 ul a img{
	height: 146px;
	position: absolute;
	top: 14px;
	right: 40px;
	opacity: 1;
}
.part4 ul a .resumeImg{
	height: 155px;
	right: 36px;
	opacity: 1;
	top: 5px;
}
*/
.part4 ul a{
	cursor: pointer;
	text-decoration: none;
	background-color: #202020;
	display: inline-block;
	height: 320px;
	width: 260px;
	margin:10px 12px 10px 0px;
	position: relative;
	z-index: 1;
	transition: box-shadow .2s ease,border .2s ease,color .2s ease; 
	border:1px solid #202020;
	border-radius: 15px;
	position: relative;
}
.part4 ul a:hover{
	box-shadow:0px 20px 28px #111;
	z-index: 2;
	border:1px solid #6c8192;
	color: #282828;
	opacity: 1;
}
.part4 ul a p{
	font-size: 14px;
	color: #6c6c6c;
	font-family: 'IBMPlexSans-Regular', "PingFang SC",pingfang,"Helvetica Neue","Arial";
	margin:5px 0;
	width: 100%;
	text-align: center;
}
.part4 ul a .part4title{
	color: white;
	font-size: 38px;
	font-family: 'IBMPlexSans-BoldItalic';
	margin:8px 0;
	margin-top: 36px;
}
.part4 ul a img{
	height: 155px;
	position: absolute;
	top: 165px;
	right: 25px;
	opacity: 1;
}
.part4 ul a .resumeImg{
	height: 164px;
	right: 25px;
	opacity: 1;
	top: 156px;
}






@media screen and (max-width: 930px){

	#wrap{
		display: none ;
	}
	.scroll{
		display: none;
	}
	#bottomnav{
		display: none;
	}
	.share{
		display: none;
	}
	#wrapMobile{
		display: block;
	}

	/*---------------*/

	.part1{
		width: 100%;
		padding-top:calc(30vh - 70px);
	}
	.part1 .titleImg{
		width: calc(100% + 200px);
		left:-80px;
		right:0px;
	}
	.part1 .titleImgs{
		width: calc(100% + 200px);
		left: -80px;
		right: 0px;
	}
	.part1 h1{
		font-size: 30px;
		padding-top: 275px;
		margin-bottom: 0;
	}
	.part1 .brief{
		width: 100%;
	}
	.part1 .brief .selfimg{
		height: 200px;
		width: auto;
	}
	.part1 .brief .briefTitleimg{
		padding-left: 12px;
	}
	.part1 .brief .uptext{
		font-size: 20px;
		line-height: 30px;
		padding-left: 12px;
	}
	.part1 .brief .downtext{
		width: calc(100% - 20px);
		padding-left: 12px;
	}
	.part2{
		width: 100%;
		border-radius: 50px 0px 0 0;
		margin-top: 480px;
	}
	.part2inside{
		width: 100%;
	}
	.part2inside .break {
		float: none;
		margin: 0 auto;
		display: inline-block;
	}
	.part2inside ul{
		width: 100%;
		margin-top: 40px;
		text-align: center;
		padding-bottom: 60px;
	}
	.part2inside ul li{
		width: 330px;
		margin: 10px auto;
	}
	.part2inside ul li .techTitle{
		top: 89px;
		left: 97px;
		font-size: 19px;
	}
	.part2inside ul li .techDetail{
		text-align: right;
		left: 25px;
		top: 10px;
		font-size: 12px;
		width: 285px;
		line-height: 21px;
	}
	.part2inside ul li .blockline{
		display: inline-block;
    }
	.part3{
		width: 100%;
	}
	.part3 .part3inside{
		width: 100%;
		padding: 0;
	}
	.part3 .part3inside ul{
		width: 100%;
		text-align: center;
	}
	.part3 .part3inside .break {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 168px;
	}
	.part3 .part3inside ul li{
		float: none;
		font-size: 12px;
		line-height: 30px;
		height:30px;
		margin:3px 1px;
		padding:0 10px 0 5px;
		font-weight: 350;
	}
	.part3 .part3inside ul li img{
		transform: scale(.55);
	}
	.part4{
		width: 100%;
		height: 850px;
	}
	.part4 .part4inside{
		width: 100%;
		padding: 0;
	}
	.part4 .part4inside ul{
		width: 100%;
		text-align: center;
	}
	.part4 .part4inside .break {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 120px;
	}
	.part4 .part4inside ul a{
		width: 330px;
		margin:10px 10px 10px 10px;
	}
	.part4 .part4inside ul a img{
		right: 58px;
	}

}