@font-face {  
  font-family: 'AvenirNextLTPro-Regular';  
  src: url('../font/AvenirNextLTPro-Regular.otf'); 
}
@font-face {
  font-family: 'Avenir LT 95 Black Oblique';  
  src: url('../font/Avenir LT 95 Black Oblique.ttf'); 
  }
@font-face {
  font-family: 'pingfang';  
  src: url('../font/PingFang Regular.ttf'); 
  }
@font-face {
  font-family: 'AvenirNextLTProDemiCnIt';  
  src: url('../font/AvenirNextLTPro-DemiCnIt.otf');    
}

body,html,div{
	border: 0;
	margin:0;
	padding: 0;
  font-family: "PingFang SC",pingfang,"Helvetica Neue","Arial";
}
body,html{
	width: 100% !important;
	height: 100%;
}
html::-webkit-scrollbar{
	width: 0px;
}
html::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #aaa;
}

/*-------------------------------------------loadding-----------------------------------------*/

#loadding{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 99999;
	text-align: center;
	opacity: 1;
	transition:opacity .2s ease;
}
#loadding img{
	width: 140px;
	margin: auto; 
    position: absolute; 
    top: 0; left: 0; bottom: 0; right: 0; 
}


/*--------------------------------------------NAV-MOBILE-----------------------------------------*/

#wrapMobile{
	width: calc(100% - 40px);
	font-size:18px;
	margin:0 auto;
	display: none;
	transition: margin-top .4s ease;
}
#wrapMobile img{
	width: 110px;
}
#wrapMobile .menuType{
	display: inline-block;
	font-weight: 320;
	margin-left: calc(100% - 245px);
	margin-right: 2px;
}
#wrapMobile .menu{
	display: inline-block;
	font-weight: 700;
	margin-right: 4px;
}
#wrapMobile div{
	display: inline-block;
}

#wrapMobilebg{
	background-color: #000;
	opacity: .8;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	position: fixed;
	top: 0;
	overflow: hidden;
	text-align: right;
	display: none;

}
#wrapMobilebg a{
	text-decoration: none;
	display: block;
	margin-top: 24px;
	margin-right:20px;
	opacity: 1;
	font-size:26px;
	color: #eee;
	line-height: 14px;
	font-weight: 300;
}
/*----------------------------------------------侧边栏------------------------------------------*/

.bottomnav{
  opacity: 0;
}
#bottomnav ul{
  width: 20px;
  position: fixed;
  right: 5.5%;
  bottom: calc(50vh + 40px);
  display: inline-block;
  text-align: right;
  list-style: none;
  white-space: nowrap;
  margin: 0 auto;
  user-select:none;
  z-index: 10;
}
#bottomnav ul li{
  font-family: 'AvenirNextLTProDemiCnIt';
  padding: 6px 3px;
  font-size: 14px;
  overflow: hidden;
}
#bottomnav ul li a{
  font-family: 'AvenirNextLTProDemiCnIt';
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #000;
  opacity: .16;
  transition: color .2s,opacity .2s,margin-right .2s;
  font-weight: 300;
  margin-right: -8px;
  writing-mode:vertical-rl;
  margin-right: -1px;
}
#bottomnav li a:hover{
  color: #0b3fff !important; 
  opacity: 1 !important;

}
#bottomnav .selected{
  color: #0b3fff;
  opacity: 1;
}


/*-----------------------------------------------Nav------------------------------------------*/

#wrap{
  width: 88%;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  margin:0px auto;
  z-index: 1000;

}

#wrap img {
  width: 110px;
  filter: invert(0%);
  transition: filter .2s ease;
}
#wrap .label{
  display: inline-block;
  margin:0;
  position: absolute;
  left: 42%;
  font-size: 12px;
  font-family: 'AvenirNextLTProRegular';
  font-weight: 400;
  color: #888;
}

#wrap ul{
  font-family: 'AvenirNextLTProRegular';
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  float: right;
}
#wrap ul li a{
  list-style: none;
  text-decoration:none;
}
#wrap li{
  display: inline-block;
  padding: 0px 0px 0px 70px;
  font-size: 14px;
}
#wrap li a{
  opacity: .2;
  transition: opacity .2s ease;
  cursor: pointer;
  color: #000;
}
#wrap li a:hover{
  opacity: 1 !important;
}
#wrap .active a{
  color: white;
  font-weight: 900;
  opacity: 1;
  transition:color .2s ease;
}
#wrap .active .hover{
  background-color: #0b3fff;
  display: inline-block;
  width: 130px;
  height: 30px;
  position: absolute;
  z-index: -1;
  margin-top: -6px;
  margin-left: -110px;
  border-radius: 20px;
  transition: background-color .2s ease,box-shadow .2s ease;
}

#wrap .designNav.active .hover{
  width: 90px;
  margin-left: -73px;
}
#wrap .lifeNav.active .hover{
  width: 90px;
  margin-left: -60px;
}
#wrap .active .hover .hoverPoint{
  background-color: white;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: -1;
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 20px;
  transition: background-color .3s ease;
}




/*-----------------------------------------------share------------------------------------------*/

.share{
	position: fixed;
	left: 6%;
	bottom: 85px;
	z-index: 1999;
}
.share img{
	padding: 0 14px;
	transform: scale(0.8);
	opacity: .4;
	transition: opacity .2s;
	cursor: pointer;

}
.share img:hover{
	opacity: 1;
}

/*-----------------------------------------------UptotheTop------------------------------------------*/

.scroll{
	width: 20px;
	height: 150px;
	position: fixed;
	right: 5.5%;
	bottom:82px;
	overflow: hidden;
	opacity: .2;
	transition:opacity .2s ease-out;
	cursor: pointer;
	z-index: 99;
}
.scroll:hover{
	opacity: 1;
}
.scroll img{
	padding: 6px 0;
	margin:0;
	transform: scale(.8);
}
#down{
	transition:margin 1.2s ease;
}
#up{
	margin-top: -8px;
	filter: invert(0%);
	transition: filter .2s ease;
}

/*-----------------------------------------------index------------------------------------------*/


.part1{
	width: 1150px;
	margin: 0 auto;
	padding-top:calc(50vh - 260px);
	text-align: center;
}
@keyframes mymove1
{
0%   {top:5px;}
50%  {top:0px;}
100%  {top:5px;}
}
.part1 .titleImgWrap{
	position: relative;
}
.part1 .titleImg{
	width: 860px;
	position: absolute;
	top: 0;
	left: 180px;
	-webkit-animation: 3s mymove1 ease infinite normal;
    animation: 3s mymove1 ease infinite normal;
}
@keyframes mymove2
{
0%   {top:-10px;opacity: 1;}
50%  {top:20px;opacity: .6;}
100%  {top:-10px;opacity: 1;}
}
.part1 .titleImgs{
	width: 860px;
	position: absolute;
	top: 0;
	left: 180px;
	-webkit-animation: 3s mymove2 ease infinite normal;
    animation: 3s mymove2 ease infinite normal;
}
.part1 h1{
	font-size: 46px;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	padding-top: 440px;
	line-height: 65px;
	text-align: center;
	font-weight: 300;
	word-spacing: -8px;
	font-family: 'Avenir LT 95 Black Oblique';
}
.part1 h4{
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	word-spacing: 3px;
	text-align: center;
	font-family: 'AvenirNextLTPro-Regular';
	color: #333;
	font-weight: 400;
}

.part1 .brief{
	width: 1100px;
	margin-top: 380px;
	height: 200px;
	text-align: left;
}
.part1 .brief .selfimg{
  width: 100%;
  margin: 30px 0;
}
.part1 .brief p{
	display:block;
	width:100%;
	padding: 0;
	font-size: 12px;
	line-height: 24px;
	vertical-align:top;
	font-weight: 350;
	color: #666;
	font-family: 'AvenirNextLTPro-Regular', "PingFang SC",pingfang,"Helvetica Neue","Arial";
}
.part1 .brief .downtext{
	padding: 0;
  width: 600px;

}
.part1 .brief .uptext{
	padding: 0 20px 0 0;
	font-weight: 800;
	color: #111;
  line-height: 34px;
  font-size: 32px;
  line-height: 44px;
  margin: 20px 0;
}

.part2{
	width: 100%;
	background-color: #fbfbfb;
	margin:0;
	margin-top: 450px;
	border-radius: 80px 0px 0 0;
}
.part2inside{
	width: 1200px;
	margin: 0 auto;
	padding:150px 0 60px 0;
	text-align: center;
}
.part2inside .break{
	font-size: 12px;
	transform: scale(0.9);
	color: #ddd;
	float: left;
	font-family: 'AvenirNextLTPro-Regular';
	background-color: #333;
	border-radius: 5px;
	padding:4px 8px;
}
.part2inside ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  font-family: 'Avenir LT 95 Black Oblique', "PingFang SC",pingfang,"Helvetica Neue","Arial";
  font-size: 22px;
  text-align: left;
}
.part2inside ul li{
	display: inline-block;
	height: 170px;
	width: 500px;
	background-color: #fff;
	margin:10px 12px 10px 0px;
	position: relative;
	z-index: 1;
	transition: box-shadow .2s ease,border .2s ease,opacity .2s ease; 
	box-shadow: 0px 15px 43px #ededed;
	border:1px solid #fff;
	border-radius: 15px;
	opacity: .8;
}
.part2inside ul li:hover{
	box-shadow:0px 2px 22px #FFFFFF, 0px 20px 28px #DAEEF0;
	z-index: 2;
	border:1px solid #e5f5fb;
	opacity: 1;
}
.part2inside ul li .techTitle{
	position: relative;
	display: inline-block;
	right: -40px;
	top: 35px;
	text-align: right;
	transition:color .4s ease;
}
.part2inside ul li:hover .techTitle{
	color: #0b3fff !important;
}
.part2inside ul li .techDetail{
	display: inline-block;
	position: absolute;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Regular',"PingFang SC",pingfang,"Helvetica Neue","Arial";
	text-align: left;
	width: 285px;
	right: 36px;
	top: 40px;
	line-height: 21px;
	color: #6c6c6c;
}

.part3{

    background: #fbfbfb; /* Old browsers */
	width: 100%;
	height: 550px;
	margin: 0px 0 120px 0;
  margin-bottom:0;
	padding-bottom:0;
}
.part3 .part3inside{
	width: 1200px;
	text-align:left;
	margin:0 auto;
	padding: 90px 0;
}
.part3 .part3inside .break{
	font-size: 12px;
	float: left;
	transform: scale(0.9);
	color: #ddd;
	font-family: 'AvenirNextLTPro-Regular';
	background-color: #333;
	border-radius: 5px;
	padding:4px 8px;
	margin:1px 0;
}

.part3 .part3inside ul{
	text-align:left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 80px;
  font-family: "PingFang SC",pingfang,"Helvetica Neue","Arial";
  font-size: 28px;
  text-align: left;
}
.part3 .part3inside ul li{
  display:inline-block;
  border-radius: 40px;
  border:1px solid #888;
  color: #777;
  font-size: 13px;
  height: 36px;
  line-height:36px;
  padding: 0 18px 0 12px;
  margin: 8px 4px;
  transition: box-shadow .2s; 
  transition: background-color .2s ease,color .1s ease,border .2s ease; 
  box-shadow: 0px 0px 0px #fafafa;
}
.part3 .part3inside ul li:hover{
  display:inline-block;
  color:#fff;
  border-radius: 40px;
  border:1px solid #0b3fff;
  background-color: #0b3fff;
  box-shadow: 0px 10px 10px #d9e8ff;
}
.part3 .part3inside ul li img{
  vertical-align: middle;
  padding-right: 4px;
  transform: scale(0.55);
  margin-top: -1px;
}






@media screen and (max-width: 625px){

	#wrap{
		display: none ;
	}
	.scroll{
		display: none;
	}
	#bottomnav{
		display: none;
	}
	.share{
		display: none;
	}
	#wrapMobile{
		display: block;
	}
}