@font-face {  
  font-family: 'AvenirNextLTPro-Regular';  
  src: url('../font/AvenirNextLTPro-Regular.otf'); 
}
@font-face {
  font-family: 'Avenir LT 95 Black Oblique';  
  src: url('../font/Avenir LT 95 Black Oblique.ttf'); 
  }
@font-face {
  font-family: 'pingfang';  
  src: url('../font/PingFang Regular.ttf'); 
  }
@font-face {
  font-family: 'AvenirNextLTProDemiCnIt';  
  src: url('../tff/AvenirNextLTPro-DemiCnIt.otf');    
}

body,html,div{
	border: 0;
	margin:0;
	padding: 0;
}
body,html{
	width: 100% !important;
	height: 100%;
}
html::-webkit-scrollbar{
	width: 6px;
}
html::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #aaa;
}



/*----------------------------------------------侧边栏------------------------------------------*/

.bottomnav{
  opacity: 0;
}
#bottomnav ul{
  width: 100px;
  position: fixed;
  right: 5.5%;
  bottom: 45vh;
  display: inline-block;
  text-align: right;
  list-style: none;
  white-space: nowrap;
  margin: 0 auto;
  user-select:none;
  z-index: 10;

}
#bottomnav ul li{
  font-family: 'AvenirNextLTProDemiCnIt';
  padding: 6px 3px;
  font-size: 14px;
  overflow: hidden;
}
#bottomnav ul li a{
  font-family: 'AvenirNextLTProDemiCnIt';
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #000;
  opacity: .16;
  transition: color .2s,opacity .2s,margin-right .2s;
  font-weight: 300;
  margin-right: -8px;
}
#bottomnav li a:hover{
  color: #0b3fff !important; 
  opacity: 1 !important;
  margin-right:2px;

}
#bottomnav .selected{
  color: #0b3fff;
  opacity: 1;
}


/*-----------------------------------------------Nav------------------------------------------*/

#wrap{
  width: 88%;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  margin:0px auto;
  z-index: 1000;

}

#wrap img {
  width: 110px;
  filter: invert(0%);
  transition: filter .2s ease;
}
#wrap .label{
  display: inline-block;
  margin:0;
  position: absolute;
  left: 42%;
  font-size: 12px;
  font-family: 'AvenirNextLTProRegular';
  font-weight: 400;
  color: #888;
}

#wrap ul{
  font-family: 'AvenirNextLTProRegular';
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  float: right;
}
#wrap ul li a{
  list-style: none;
  text-decoration:none;
}
#wrap li{
  display: inline-block;
  padding: 0px 0px 0px 70px;
  font-size: 14px;
}
#wrap li a{
  opacity: .2;
  transition: opacity .2s ease;
  cursor: pointer;
  color: #000;
}
#wrap li a:hover{
  opacity: 1 !important;
}
#wrap .active a{
  color: white;
  font-weight: 900;
  opacity: 1;
  transition:color .2s ease;
}
#wrap .active .hover{
  background-color: #0b3fff;
  display: inline-block;
  width: 130px;
  height: 30px;
  position: absolute;
  z-index: -1;
  margin-top: -6px;
  margin-left: -110px;
  border-radius: 20px;
  transition: background-color .2s ease,box-shadow .2s ease;
}

#wrap .designNav.active .hover{
  width: 90px;
  margin-left: -73px;
}
#wrap .lifeNav.active .hover{
  width: 90px;
  margin-left: -60px;
}
#wrap .active .hover .hoverPoint{
  background-color: white;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: -1;
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 20px;
  transition: background-color .3s ease;
}




/*-----------------------------------------------share------------------------------------------*/

.share{
	position: fixed;
	left: 6%;
	bottom: 85px;
	z-index: 1999;
}
.share img{
	padding: 0 14px;
	transform: scale(0.8);
	opacity: .4;
	transition: opacity .2s;
	cursor: pointer;

}
.share img:hover{
	opacity: 1;
}

/*-----------------------------------------------UptotheTop------------------------------------------*/

.scroll{
	width: 20px;
	height: 150px;
	position: fixed;
	right: 5.5%;
	bottom:82px;
	overflow: hidden;
	opacity: .2;
	transition:opacity .2s ease-out;
	cursor: pointer;
	z-index: 99;
}
.scroll:hover{
	opacity: 1;
}
.scroll img{
	padding: 6px 0;
	margin:0;
	transform: scale(.8);
}
#down{
	transition:margin 1.2s ease;
}
#up{
	margin-top: -8px;
	filter: invert(0%);
	transition: filter .2s ease;
}

/*-----------------------------------------------index------------------------------------------*/


.canvasWrap{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #fffefd;
}

.canvas{
	height: 600px;
	width: 100%;
	overflow: hidden;
	margin-top: calc(50vh - 330px);
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}
.canvas video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.part1{
	width: 1000px;
	margin: 0 auto;
	padding-top:1700px;
	text-align: center;
}
@keyframes mymove1
{
0%   {top:5px;}
50%  {top:0px;}
100%  {top:5px;}
}
.part1 .titleImg{
	width: 900px;
	position: absolute;
	top: 0;
	left: 80px;
	-webkit-animation: 3s mymove1 ease infinite normal;
    animation: 3s mymove1 ease infinite normal;
}
@keyframes mymove2
{
0%   {top:-10px;opacity: 1;}
50%  {top:20px;opacity: .6;}
100%  {top:-10px;opacity: 1;}
}
.part1 .titleImgs{
	width: 900px;
	position: absolute;
	top: 0;
	left: 80px;
	-webkit-animation: 3s mymove2 ease infinite normal;
    animation: 3s mymove2 ease infinite normal;
}
.part1 h1{
	font-size: 60px;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	padding-top: 500px;
	line-height: 65px;
	text-align: center;
	font-weight: 460;
	word-spacing: -8px;
	font-family: 'Avenir LT 95 Black Oblique';
}
.part1 h4{
	font-size: 16px;
	line-height: 28px;
	margin: 0;
	word-spacing: 3px;
	text-align: center;
	font-family: 'AvenirNextLTPro-Regular';
	color: #333;
	font-weight: 400;
}

.part1 .brief{
	width: 1000px;
	margin-top: 160px;
	height: 200px;
	text-align: left;
}
.part1 .brief p{
	display: inline-block;
	width: 210px;
	padding: 0;
	font-size: 12px;
	line-height: 24px;
	vertical-align:top;
	font-weight: 200;
	color: #666;
	font-family: 'AvenirNextLTPro-Regular','pingfang';
}
.part1 .brief .right{
	padding: 0 0 0 20px;

}
.part1 .brief .left{
	padding: 0 180px 0 0;
	font-weight: 900;
	color: #111;
}
.part1 .brief .leftmark{
	position: relative;
	left: -555px;
	opacity: .12;
}
.part1 .brief .rightmark{
	position: relative;
	right: -25px;
	opacity: .12;
}

.part2{
	width: 1100px;
	margin: 0 auto;
	margin-top: 300px;
	text-align: center;
}
.part2 .break{
	font-size: 12px;
	transform: scale(0.9);
	color: #ddd;
	font-family: 'AvenirNextLTPro-Regular';
}
.part2 ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: 'Avenir LT 95 Black Oblique','pingfang';
  font-size: 22px;
  text-align: center;
}
.part2 ul li{
	display: inline-block;
	height: 150px;
	width: 520px;
	background-color: #fff;
	margin:4px 6px 8px 6px;
	position: relative;
	z-index: 1;
	transition: box-shadow .2s ease,border .2s ease,opacity .2s ease; 
	/*box-shadow: 0px 10px 13px #fafafa;*/
	border:1px solid #ddd;
	border-radius: 12px;
	opacity: .8;
}
.part2 ul li:hover{
	box-shadow:0px 2px 22px #FFFFFF, 0px 20px 28px #DAEEF0;
	z-index: 2;
	border:1px solid #e5f5fb;
	opacity: 1;
}
.part2 ul li .techTitle{
	position: relative;
	display: inline-block;
	right: 166px;
	top: 24px;
	text-align: right;
	transition:color .4s ease;
}
.part2 ul li:hover .techTitle{
	color: #0b3fff !important;
}
.part2 ul li .techDetail{
	display: inline-block;
	position: absolute;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Regular','pingfang';
	text-align: left;
	width: 320px;
	right: 30px;
	top: 30px;
	line-height: 21px;
	color: #6c6c6c;
}

.part3{

    background: #fcfcfc; /* Old browsers */
	width: 100%;
	height: 500px;
	margin: 120px 0;
}
.part3 .part3inside{
	width: 1000px;
	text-align: center;
	margin:0 auto;
	padding: 90px 0;
}
.part3 .part3inside .break{
	font-size: 12px;
	transform: scale(0.9);
	color: #ddd;
	font-family: 'AvenirNextLTPro-Regular';
}

.part3 .part3inside ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 80px;
  font-family: 'pingfang';
  font-size: 28px;
  text-align: center;
}
.part3 .part3inside ul li{
  display:inline-block;
  border-radius: 40px;
  border:1px solid #666;
  color: #777;
  font-size: 14px;
  height: 40px;
  line-height:40px;
  padding: 0 22px;
  margin: 10px 5px;
  transition: box-shadow .2s; 
  transition: background-color .2s ease,color .1s ease,border .2s ease; 
  box-shadow: 0px 0px 0px #fafafa;
}
.part3 .part3inside ul li:hover{
  display:inline-block;
  color:#fff;
  border-radius: 40px;
  border:1px solid #0b3fff;
  background-color: #0b3fff;
  box-shadow: 0px 10px 10px #d9e8ff;
  font-weight: 560;
}
.part3 .part3inside ul li img{
  vertical-align: middle;
  padding-right: 4px;
  transform: scale(0.6);
  margin-top: -1px;
}
.part4{
  width: 1120px;
  height: 500px;
  margin: 0px auto;
  padding: 300px 0;
}
.part4 ul{
  list-style: none;
  padding: 0;
}
.part4 ul li{
	float: left;
	width: 140px;
	height: 140px;
	background-color: #ddd;
	display: inline-block;
	margin:9px 10px;
	margin-top: 6px;
	transition:box-shadow .2s ease,margin-top .2s ease,opacity .2s ease;
	opacity: .5;
}
.part4 ul li:hover{
  box-shadow: 0px 20px 24px #eef1f6;
  margin-top: 0px;
  opacity: 1;
}

.part5{
	background-color: #fff;
	height: 1400px;
	width: 100%;
	position: relative;
	margin:0;
	padding: 0;
	
}
.part5 #blackBg{
	background-color: #0a0a0a;
	width: 100%;
	height: 155%;
	margin:0;
	padding: 0;
	margin-top: 200px;
	transition: margin-top 1.6s ease;
	display: inline-block;

}
.part5 #mov{
	height: 400px;
	width: 1100px;
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	margin-top: -500px;
	opacity: 0;
	transition: opacity .3s ease,top .6s ease;
}