@font-face {  
  font-family: 'AvenirNextLTPro-Regular';  
  src: url('../font/AvenirNextLTPro-Regular.otf'); 
}
@font-face {
  font-family: 'Avenir LT 95 Black Oblique';  
  src: url('../font/Avenir LT 95 Black Oblique.ttf'); 
  }
@font-face {
  font-family: 'pingfang';  
  src: url('../font/PingFang Regular.ttf'); 
  }
@font-face {
  font-family: 'AvenirNextLTProDemiCnIt';  
  src: url('../font/AvenirNextLTPro-DemiCnIt.otf');    
}

body,html,div{
	border: 0;
	margin:0;
	padding: 0;
}
body,html{
	width: 100% !important;
	height: 100%;
}
html::-webkit-scrollbar{
	width: 6px;
}
html::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #aaa;
}



/*-----------------------------------------------Nav------------------------------------------*/

#wrap{
  width: 88%;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  margin:0px auto;
  z-index: 1000;

}

#wrap img {
  width: 110px;
  filter: invert(0%);
  transition: filter .2s ease;
}
#wrap .label{
  display: inline-block;
  margin:0;
  position: absolute;
  left: 42%;
  font-size: 12px;
  font-family: 'AvenirNextLTProRegular';
  font-weight: 400;
  color: #888;
}

#wrap ul{
  font-family: 'AvenirNextLTProRegular';
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  float: right;
}
#wrap ul li a{
  list-style: none;
  text-decoration:none;
}
#wrap li{
  display: inline-block;
  padding: 0px 0px 0px 70px;
  font-size: 14px;
}
#wrap li a{
  opacity: .2;
  transition: opacity .2s ease;
  cursor: pointer;
  color: #000;
}
#wrap li a:hover{
  opacity: 1 !important;
}
#wrap .active a{
  color: white;
  font-weight: 900;
  opacity: 1;
  transition:color .2s ease;
}
#wrap .active .hover{
  background-color: #0b3fff;
  display: inline-block;
  width: 130px;
  height: 30px;
  position: absolute;
  z-index: -1;
  margin-top: -6px;
  margin-left: -110px;
  border-radius: 20px;
  transition: background-color .2s ease,box-shadow .2s ease;
}

#wrap .designNav.active .hover{
  width: 90px;
  margin-left: -73px;
}
#wrap .lifeNav.active .hover{
  width: 90px;
  margin-left: -60px;
}
#wrap .active .hover .hoverPoint{
  background-color: white;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: -1;
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 20px;
  transition: background-color .3s ease;
}




/*-----------------------------------------------share------------------------------------------*/

.share{
	position: fixed;
	left: 6%;
	bottom: 85px;
	z-index: 1999;
}
.share img{
	padding: 0 14px;
	transform: scale(0.8);
	opacity: .4;
	transition: opacity .2s;
	cursor: pointer;

}
.share img:hover{
	opacity: 1;
}

/*-----------------------------------------------UptotheTop------------------------------------------*/

.scroll{
	width: 20px;
	height: 150px;
	position: fixed;
	right: 5.5%;
	bottom:82px;
	overflow: hidden;
	opacity: .2;
	transition:opacity .2s ease-out;
	cursor: pointer;
	z-index: 99;
}
.scroll:hover{
	opacity: 1;
}
.scroll img{
	padding: 6px 0;
	margin:0;
	transform: scale(.8);
}
#down{
	transition:margin 1.2s ease;
}
#up{
	margin-top: -8px;
	filter: invert(0%);
	transition: filter .2s ease;
}

/*-----------------------------------------------index------------------------------------------*/

.canvasWrap{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #fffefd;
}

.canvas{
	height: 600px;
	width: 100%;
	overflow: hidden;
	margin-top: calc(50vh - 330px);
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}
.canvas video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.part1{
	width: 1165px;
	margin: 0 auto;
	text-align: center;
	margin-top: calc(100vh + 200px);
	position: relative;
}
.part1 ol{
	list-style: none;
	position: relative;
	top: -60px;
	padding: 0;
	margin: 0;
}
.part1 ol li{
	display: inline-block;
}
.part1 ul{
	display: block;
	top: 0px;
	list-style-type: none;
}
.part1 ul li{
	width: 381px;
	padding: 0;
	margin: 0;
}
.part1 ul li img{
	width: 100%;
}
