
@font-face {  
  font-family: 'IBMPlexSans-Regular';  
  src: url('../font/IBM-Plex-Sans/IBMPlexSans-Regular.otf'); 
}
@font-face {  
  font-family: 'IBMPlexSans-ExtraLight';  
  src: url('../font/IBM-Plex-Sans/IBMPlexSans-ExtraLight.otf'); 
}
@font-face {
  font-family: 'IBMPlexSans-BoldItalic';  
  src: url('../font/IBM-Plex-Sans/IBMPlexSans-BoldItalic.otf'); 
  }
@font-face {
  font-family: 'AvenirNextLTProDemiCnIt';  
  src: url('../font/AvenirNextLTPro-DemiCnIt.otf');    
}

body,html,div{
	font-family: "PingFang SC","Helvetica Neue","Arial";
	border: 0;
	margin:0;
	padding: 0;
}
body,html{
	width: 100% !important;
	height: 100%;
}
html::-webkit-scrollbar{
	width: 0px;
}
html::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #aaa;
}

/*-------------------------------------------loadding-----------------------------------------*/

#loadding{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 99999;
	text-align: center;
	opacity: 1;
	transition:opacity .2s ease;
}
#loadding img{
	width: 140px;
	margin: auto; 
    position: absolute; 
    top: 0; left: 0; bottom: 0; right: 0; 
}



/*-----------------------------------------------Nav------------------------------------------*/

#wrap{
  width: 88%;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  margin:0px auto;
  z-index: 1000;

}

#wrap img {
  width: 110px;
  filter: invert(0%);
  transition: filter .2s ease;
}
#wrap .label{
  display: inline-block;
  margin:0;
  position: absolute;
  left: 42%;
  font-size: 12px;
  font-family: 'IBMPlexSans-Regular', "PingFang SC","Helvetica Neue","Arial";
  font-weight: 400;
  color: #888;
}

#wrap ul{
  font-family: 'IBMPlexSans-Regular', "PingFang SC","Helvetica Neue","Arial";
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  float: right;
}
#wrap ul li a{
  list-style: none;
  text-decoration:none;
  color: #111;
}
#wrap li{
  display: inline-block;
  padding: 0px 0px 0px 50px;
  font-size: 14px;
}
#wrap li a{
  opacity: .2;
  transition: opacity .2s ease;
  cursor: pointer;
  color: #000;
}
#wrap li a:hover{
  opacity: 1 !important;
}
#wrap .active a{
  color: black;
  font-weight: 900;
  opacity: 1;
  transition:color .2s ease;
}




/*--------------------------------------------NAV-MOBILE-----------------------------------------*/

#wrapMobile{
	width: calc(100% - 30px);
	font-size:18px;
	margin:0 auto;
	display: none;
}
#wrapMobile img{
	width: 110px;
}
#wrapMobile .menuType{
	display: inline-block;
	font-weight: 320;
	margin-left: calc(100% - 218px);
	margin-right: 2px;
	font-family: 'IBMPlexSans-ExtraLight';
}
#wrapMobile .menu{
	display: inline-block;
	font-weight: 600;
	margin-right: 4px;
	font-family: 'IBMPlexSans-ExtraLight';
}
#wrapMobile div{
	display: inline-block;
}

#wrapMobilebg{
	background-color: #000;
	opacity: .8;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	position: fixed;
	top: 0;
	overflow: hidden;
	text-align: right;
	display: none;

}
#wrapMobilebg a{
	font-family: 'IBMPlexSans-ExtraLight';
	text-decoration: none;
	display: block;
	margin-top: 24px;
	margin-right:20px;
	opacity: 1;
	font-size:26px;
	color: #eee;
	line-height: 14px;
	font-weight: 300;
}


/*-----------------------------------------------share------------------------------------------*/

.share{
	position: fixed;
	left: 6%;
	bottom: 85px;
	z-index: 1999;
}
.share img{
	padding: 0 14px;
	transform: scale(0.8);
	opacity: .4;
	transition: opacity .2s;
	cursor: pointer;

}
.share img:hover{
	opacity: 1;
}

/*-----------------------------------------------UptotheTop------------------------------------------*/

.scroll{
	width: 20px;
	height: 150px;
	position: fixed;
	right: 5.5%;
	bottom:82px;
	overflow: hidden;
	opacity: .2;
	transition:opacity .2s ease-out;
	cursor: pointer;
	z-index: 99;
}
.scroll:hover{
	opacity: 1;
}
.scroll img{
	padding: 6px 0;
	margin:0;
	transform: scale(.8);
}
#down{
	transition:margin 1.2s ease;
}
#up{
	margin-top: 0px;
	filter: invert(0%);
	transition: filter .2s ease;
}

/*-----------------------------------------------index------------------------------------------*/

#mobileTip{
	background-color: #000;
	width: calc(100% - 22px);
	opacity: .88;
	height: 60px;
	right: 0;
	left: 0;
	margin: 0 auto;
	margin-top: 10px;
	z-index: 98;
	text-align: center;
	position: fixed;
	bottom:0;
	border-radius: 12px;
	display: none;
	transition:top .7s ease;
}
#mobileTip p{
	z-index: 99;
	font-size: 12px;
	color: #9a9a9a;
	line-height: 10px;
	font-weight: 400;
	margin-top: 16px;

}

.part1{
	width: 1187px;
	margin: 0 auto;
	text-align: right;
	margin-top: 300px;
	position: relative;
}
.part1 ol{
	list-style: none;
	position: relative;
	top: -38px;
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.part1 ol li{
	display: inline-block;
	cursor: pointer;
	padding: 0 6px;
	opacity: 1 !important;
	color: #555;
	border-radius: 4px;
}
.part1 ol .active{
	background: #333;
	color: #eee;
	border-radius: 4px;
}
.part1 ul{
	display: block;
	top: 0px;
	list-style-type: none;
}
.part1 ul li{
	width: 392px;
	padding: 0;
	margin: 0;
}
.part1 ul li img{
	width: 100%;
}
.part1 ul li video{
	width: 100%;
}
.part1 ul .wookmark-inactive {
  visibility: hidden;
  opacity: 0;
}
.part1 li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.part1 li:hover{
	opacity: .35;
}




@media screen and (max-width: 1280px) {
	.title{
		width: 950px ;
		text-align: left;
	}
	.titleText{
		width: 80%;
	}
	.part1{
		width: 100% !important;
	}
	.part1 ul li{
		width: 315px;
	}

	#filters{
		width: 950px;
		padding: 0;
		margin: 0 auto;
	}

	img.mfp-img {
		max-width: 99% !important;
	}
}

@media screen and (min-width:625px) and (max-width: 900px){
	.canvasWrap{
		display: none;
	}
	.title{
		margin-top: 160px;
		text-align: center;
		width: 100% !important;
	}
	.titleText{
		display: none !important;
	}
	.titleTextPhone{
		margin: 0 auto;
		display: block;
		padding: 0;
		text-align: center;
	}
	#filters{
		text-align: center ;
		width: 100% ;
	}

	img.mfp-img {
		max-width: 99% !important;
	}
}

@media screen and (max-width: 625px){
	.canvasWrap{
		display: none;
	}
	.title{
		margin-top: 160px;
		width: 100%;
	}
	.titleText{
		display: none;
	}
	.titleTextPhone{
		display: block;
		width: 100%;
	}
	.part1{
		margin-top: 180px;
	}
	.part1 ul li{
		width: 355px !important;
	}

	/*---*/

	img.mfp-img {
		max-width: 99% !important;
	}

	/*---*/

	#wrap{
		text-align: center;
		position: absolute;
		display: none !important;
	}


	/*---*/

	#filters{
		width: auto;
		text-align: center;
	}
	/*---*/

	.scroll{
		display: none;
	}

	.share{
		display: none;
	}
	#wrapMobile{
		display: block;
	}
}
